@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "ubuntu", sans-serif;
}

.title {
  font-weight: bolder;
  color: #292929;
}

.title span {
  font-weight: normal;
}

.item {
  display: flex;
  justify-content: center;
  place-items: center;
  font-weight: bold;
  text-align: center;
  margin: 0;
  color: #222;
  font-size: 2em;
  background: #f9d423;
  border: 1px solid #222222;
  box-shadow: 1px 2px 3px grey;
  border-radius: 8px;
  cursor: pointer;
}
.item:hover {
  color: #d8d8d8;
}

#container {
  display: grid;
  width: 95vw;
  height: 60vh;
  margin: 0 auto;
  background-color: whitesmoke;
  outline: 8px solid #4834d4;
  grid: repeat(3, 100px)/[col-start] 1fr [col-2] 1fr [col-3] 1fr [col-end];
}

.one {
  grid-area: 1/1/2/3;
}

.two {
  grid-row: 2/5;
}

.five {
  align-self: center;
  justify-self: center;
  place-self: center;
}

.six {
  grid-area: 9;
}